html, body, ul, li{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

header ul{
    display: flex;
}

header li{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: silver;
    box-sizing: border-box;
    padding: 20px 0;
    text-align: center;
    margin: 100px;
    transform-origin: center -100px;
    animation: pendulum 4s infinite; 
    box-shadow: 0 10px 2px black;
}

header li:hover, header li.active{
    background: lightskyblue;
}

#photos li, #greetings li{
    display: none;
}

li.active{
    display: block !important;
}

@keyframes pendulum {
    from {
        transform: rotate(0deg); 
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);    
    }
    25% {
        transform: rotate(20deg); 
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);    
    }
    50% {
        transform: rotate(0deg); 
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }
    75% {
        transform: rotate(-20deg); 
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }
    to {
        transform: rotate(0deg);
    }
}


.logo_container{
    perspective: 60px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 275px);
}
/*550x250px*/
#logo{
    animation: appear_and_drop 4s;
    transform: rotateX(30deg);
    transform-origin: bottom;
}

@keyframes appear_and_drop{
    from{
        transform: scale(0) rotateX(0);
    }
    75%{
        transform: scale(1) rotateX(1deg);
    }
    to{
        transform: scale(1) rotateX(30deg);
    }
}