html, body, ul, li{
    margin: 0;
    padding: 0;
}

body{
    background: green;
    overflow: hidden;
}

li{
    list-style: none;
}


header ul{
    display: flex;
    position: absolute;
    z-index: 10;
    font-size: 1.3em;
}

header li{
    width: 140px;
    height: 500px;
    position: absolute;
    text-align: center;
    transform-origin: center -100px;
    color: grey;
    animation: pendulum 4s infinite;
}

header li .ball{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(ball/silver.png) no-repeat bottom;

}

header li span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 60px;
    text-align: center;
}

header .red, 
header .red:hover{
    left:849px;
    top: -316px;
}
header .red .ball,
header .red:hover .ball{
    background-image: url(ball/red.png);

}
header li:hover, 
header li.active{
    color: white;
}
header li:hover .ball, 
header li.active .ball{
    background-image: url(ball/blue.png);
}

header .gov_team{
    left: 150px;
    top: -320px;
}

header .gov_team span{
    bottom: 30px;
}

header .c_kiss{
    top: -250px;
    left: 330px;
}
header .c_kiss .ball{
    transform: scale(1.2);
}
header .c_kiss span{
    bottom: -20px;
}


header .haiku{
    left: 580px;
    top: -210px;
}
header .haiku span{
    bottom: 60px;
}
header .haiku .ball{
    transform: scale(0.8);
}

header .ctech{
    left: 1176px;
    top: -210px;
}
header .ctech span{
    bottom: 40px;
}
header .ctech .ball{
    transform: scale(0.9);
}

header .qa{
    left: 1465px;
    top: -240px;
}
header .qa span{
    bottom: 40px;
}

header .sparta{
    left: 1700px;
    top: -210px;
}
header .sparta span{
    bottom: 70px;
}
header .sparta .ball{
    transform: scale(0.75);
}

#photos li, #greetings li{
    display: none;
}

li.active{
    display: block !important;
}

@keyframes pendulum {
    from {
        transform: rotate(0deg); 
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);    
    }
    25% {
        transform: rotate(15deg); 
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);    
    }
    50% {
        transform: rotate(0deg); 
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }
    75% {
        transform: rotate(-15deg); 
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }
    to {
        transform: rotate(0deg);
    }
}


.logo_container{
    perspective: 60px;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 275px);
}
/*550x250px*/
#logo{
    animation: appear_and_drop 4s;
    transform: rotateX(30deg) scale(1.2);
    transform-origin: bottom;
}

@keyframes appear_and_drop{
    from{
        transform: scale(0) rotateX(0);
    }
    75%{
        transform: scale(1.2) rotateX(1deg);
    }
    to{
        transform: scale(1.2) rotateX(30deg);
    }
}

#greetings_logo{
    position: absolute;
    top: 20px;
    left: calc(50% - 175px);
}

#photos{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

#photos img{
    margin: auto;
    display: block;
}

#greetings li{
    position: absolute;
    bottom: 100px;
    width: 1000px;
    height: 460px;
    box-sizing: border-box;
    padding: 40px 170px 0 240px;
    background: url(scroll.png) no-repeat center;
    color: white;
    left: 500px;
    font-size: 1.4em;
}

#greetings h2{
    text-align: center;
}
