html {
    height:100%;
}


html, body, ul, li{
    margin: 0;
    padding: 0;
}

body{
    /*background: url(background.png);*/
    overflow: hidden;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background: url(background.png) center center / cover no-repeat;
}

li{
    list-style: none;
}

header ul{
    display: flex;
    /*position: absolute;*/
    z-index: 10;
    font-size: 1.3em;
}

header li{
    position: absolute;
    z-index: 20;
    width: 140px;
    height: 500px;
    text-align: center;
    transform-origin: center -100px;
    color: grey;
    animation: pendulum 4s infinite;
}

header li .ball{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(ball/silver.png) no-repeat bottom;

}

header li span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 60px;
    text-align: center;
}

header .red,
header .red:hover{
    top: -260px;
    animation: none;
    left: 849px;
    left: 50%;
    margin: 0 0 0 -70px;
}
header .red .ball,
header .red:hover .ball{
    background-image: url(ball/red.png);

}
header li:hover,
header li.active{
    color: white;
}
header li:hover .ball,
header li.active .ball{
    background-image: url(ball/blue.png);
}

header .gov_team{
    left: 150px;
    left: 10%;
    top: -250px;
}

header .gov_team span{
    bottom: 75px;
}
header .gov_team .ball{
    transform: scale(0.7);
}

header .ctech{
    top: -210px;
    left: 330px;
    left: 20%;
}
header .ctech span{
    bottom: 55px;
}
header .ctech .ball{
    transform: scale(0.8);
}

header .qa{
    left: 580px;
    left: 30%;
    top: -210px;
}
header .qa span{
    bottom: 65px;
}
header .qa .ball{
    transform: scale(0.75);
}

header .haiku{
    top: -210px;
    left: 1176px;
    left: 60%;
}
header .haiku span{
    bottom: 70px;
}
header .haiku .ball{
    transform: scale(0.75);
}

header .sparta{
    left: 1465px;
    left: 70%;
    top: -240px;
}
header .sparta span{
    bottom: 55px;
}
header .sparta .ball{
    transform: scale(0.85);
}

header .c_kiss{
    left: 1700px;
    left: 80%;
    top: -210px;
}
header .c_kiss .ball{
    transform: scale(0.75);
}
header .c_kiss span{
    bottom: 65px;
}

#photos li, #greetings li{
    display: none;
}

#photos li.active, #greetings li.active {
    display: block;
}

@keyframes pendulum {
    from {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }
    25% {
        transform: rotate(15deg);
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }
    50% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }
    75% {
        transform: rotate(-15deg);
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }
    to {
        transform: rotate(0deg);
    }
}


.logo_container{
    perspective: 60px;
    position: absolute;
    bottom: -80px;
    left: calc(50% - 275px);
}
/*550x250px*/
#logo{
    animation: appear_and_drop 4s;
    transform-origin: bottom;
}

@keyframes appear_and_drop{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

#greetings_logo{
    position: absolute;
    top: 20px;
    left: calc(50% - 175px);
}

#photos{
    width: 100%;
    margin: 0 auto;
}

#photos img{
    margin: auto;
    display: block;
}

#greetings li{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    box-sizing: border-box;
    padding: 40px 170px 0 240px;
    /*background: url(tree-small.png) no-repeat right 40px top 25px, url(scroll.png) no-repeat center;*/
    background: url(scroll_tree.png) center center / contain no-repeat;
    /*background: url(scroll_tree.png) center center no-repeat;*/
    color: white;
    font-size: 1.4em;
}

#greetings h2{
    text-align: center;
}

#greetings:not(.active){
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -50px;
    background: url(tree.png) no-repeat center;
}

canvas{
    position: absolute;
    display: block;
}

@media (max-height: 900px) {

    #greetings li {
        bottom: 0;
        width: 640px;
        height: 300px;
        padding: 30px 117px 0 114px;
        font-size: 16px;
    }

    header .red {
        top: -365px
    }
}

.c_kiss p b {
    font-size: 120%;
}

@media only screen and (max-width: 1000px) {

    html {
        height: auto;
    }

    body {
        background: url(background.png) 0% 0% / auto no-repeat;
    }

    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }


    #photos li.active.desktop, #greetings li.active.desktop {
        display: none;
    }

    #photos li.active.mobile, #greetings li.active.mobile {
        display: block;
    }

    #greetings:not(.active) {
        top: -250px;
        bottom: 0px;
    }
    
}

@media only screen and (min-width: 1000px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }

    #photos li.active.desktop, #greetings li.active.desktop {
        display: block;
    }

    #photos li.active.mobile, #greetings li.active.mobile {
        display: none;
    }
}